<!-- {{yield}} -->

<div class="press">
  <input type="checkbox" id="unchecked" checked={{cdromChecked}} class="cbx hidden" />
  <label for="unchecked" class="lbl" {{action "toggle" cdromChecked}}></label>
  <div class="menu-canvas-element-label">{{label}} {{cdromChecked}}</div>
</div>



<!-- <ul>
  {{#each cart.items as |item|}}
    <li>
      {{item.name}}
      <button {{action "remove" item}}>Remove</button>
    </li>
  {{/each}}
</ul> -->
